# Core Django
Django==5.0.1
django-cors-headers==4.7.0
djangorestframework==3.15.1
djangorestframework_simplejwt==5.5.0
asgiref==3.8.1
sqlparse==0.5.3

# Serveur et performance
gunicorn==23.0.0
whitenoise==6.9.0
uvicorn==0.34.0

# Sécurité et authentification
pycryptodome==3.22.0
PyJWT==2.9.0
cryptography==44.0.2
python-dotenv==1.1.0

# Base de données et ORM
psycopg2-binary==2.9.9  # Ajoutez cette ligne si vous utilisez PostgreSQL

# API et requêtes HTTP
requests==2.32.3
aiohttp==3.11.16

# Traitement des données
pandas==2.2.3
numpy==2.2.4
python-dateutil==2.9.0.post0
pytz==2025.2

# Templates et statiques
Jinja2==3.1.6
MarkupSafe==3.0.2

# Autres essentiels
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
packaging==24.2
typing_extensions==4.13.1
urllib3==2.3.0
paypalrestsdk==1.13.3